<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"tw-main tw-main--landing","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group tw-main tw-main--landing" id="main" style="margin-top:0"><!-- wp:group {"className":"tw-crumbs-bar","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group tw-crumbs-bar"><!-- wp:shortcode -->
[tw_breadcrumbs]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
